@font-face {
  font-family: 'helvetica-neue';
  src: url("../fonts/HelveticaNeue-UltraLight.eot");
  src: url("../fonts/HelveticaNeue-UltraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue-UltraLight.woff") format("woff"), url("../fonts/HelveticaNeue-UltraLight.ttf") format("truetype"), url("../fonts/HelveticaNeue-UltraLight.svg#helvetica-neue") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'icons';
  src: url("../icons/icons.eot");
  src: url("../icons/icons.eot?#iefix") format("embedded-opentype"), url("../icons/icons.woff") format("woff"), url("../icons/icons.ttf") format("truetype"), url("../icons/icons.svg?#icons") format("svg");
  font-weight: normal;
  font-style: normal; }

[id^="icon-"], [class^="icon-"] {
  font-family: 'icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

#icon-nav:after {
  display: none; }

#icon-scroll-left, #icon-scroll-right {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  font-size: 3em;
  border-radius: 100%; }

#icon-scroll-left {
  left: -75px; }

#icon-scroll-right {
  right: -75px; }

#icon-scroll-left:after {
  content: '\e601'; }

#icon-scroll-right:after {
  content: '\e601';
  display: inline-block;
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg); }

#icon-instagram:after {
  content: '\e600'; }

#icon-facebook:after {
  content: '\e608'; }

#icon-twitter:after {
  content: '\e607'; }

.icon-play-button:after {
  content: '\e604';
  font-size: 4em;
  color: #EDEDED;
  border: 1px solid #EDEDED;
  border-radius: 100%; }

.icon-play-button {
  position: absolute;
  top: 50%;
  margin-top: -25px;
  left: 50%;
  margin-left: -25px; }

.invisible {
  opacity: 0; }

.visible {
  opacity: 1; }

body, a {
  font-family: 'helvetica-neue';
  color: #2e2d2c; }

body {
  background: #FAFAFA; }

span:hover, a:hover {
  color: #D6D6D6; }

span:hover {
  cursor: pointer; }

li {
  list-style-type: none; }

.page-container {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  transition: opacity 1s ease-out; }

header {
  position: relative;
  width: 90%;
  border-bottom: 1px solid rgba(124, 140, 141, 0.3);
  font-size: 1.5em;
  line-height: 50px;
  background: #fff;
  border-bottom: 1px solid #e1e2e3;
  padding-left: 10%;
  z-index: 1; }

.navbar-toggle {
  position: relative;
  float: right;
  right: 0;
  line-height: 50px;
  z-index: 2;
  font-size: 1.1em;
  padding-right: 10%; }
  .navbar-toggle li {
    float: left;
    position: relative; }
    .navbar-toggle li:hover p {
      color: #D6D6D6; }
    .navbar-toggle li a {
      padding-left: 20px;
      display: inline-block; }
    .navbar-toggle li p {
      padding: 0 20px;
      cursor: pointer; }
    .navbar-toggle li ul {
      display: none;
      border-radius: 0 0 5px 5px;
      background: #fff;
      border: 1px solid #e1e2e3;
      border-top: 1px solid #fff;
      position: absolute;
      width: 150px;
      left: -5px;
      top: 50px; }
      .navbar-toggle li ul li {
        float: none;
        padding-right: 0;
        padding-left: 10px;
        color: #D6D6D6; }
        .navbar-toggle li ul li:last-child {
          border-radius: 0 0 5px 5px; }
        .navbar-toggle li ul li a {
          position: relative;
          width: 100%;
          display: inline-block;
          padding: 0 5px;
          font-size: .8em; }

.active {
  color: #C7C7C7; }

#content-container {
  position: absolute;
  width: 80%;
  margin: 0 10%;
  height: 80%;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%); }

#content-pane {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden; }

#content {
  position: absolute;
  height: 100%;
  width: 100%;
  width: auto;
  left: 0; }

img {
  position: absolute;
  z-index: 0;
  height: 100%;
  width: 100%;
  transition: opacity 1s ease-in-out; }

.placeholder {
  background: #EDEDED;
  float: left;
  margin-right: 2px;
  position: relative; }
  .placeholder a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .7;
    transition: opacity .5s; }
    .placeholder a:hover {
      opacity: 1; }

#sliding-container {
  position: relative;
  height: 100%;
  width: 100%; }

footer {
  width: 80%;
  background: #fff;
  position: absolute;
  bottom: 0;
  padding: 0 10%;
  color: #2e2d2c;
  border-top: 1px solid #e1e2e3;
  line-height: 50px; }
  footer h2 {
    float: right;
    font-size: 1em; }
  footer ul {
    font-size: 1.5em;
    width: 146px;
    margin: 0 auto; }
  footer li {
    display: inline-block;
    padding: 0 10px; }
  footer h3 {
    font-size: .8em;
    float: left; }

.video #content-container {
  height: 60%; }

iframe {
  position: relative; }

@media (max-width: 960px) and (min-width: 800px) {
  footer li {
    padding: 0; } }
@media (max-width: 799px) {
  #icon-scroll-left, #icon-scroll-right {
    display: none; }

  #icon-nav:after {
    float: right;
    content: "\e603";
    font-size: 1.5em;
    display: block;
    position: absolute;
    right: 10%;
    margin-right: -15px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    padding-right: 10%;
    margin-right: -12%; }

  #icon-nav:hover {
    color: #fff; }

  .page-container {
    padding-bottom: 50px;
    overflow: hidden; }

  .placeholder {
    float: none;
    margin-bottom: 2px; }

  header {
    margin: 0;
    line-height: 25px;
    padding: 10px 0;
    width: 100%;
    position: fixed;
    left: 0px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    border: none;
    z-index: 200;
    font-size: 1.3em;
    text-align: center;
    -webkit-transition: left .5s;
    -moz-transition: left .5s;
    -o-transition: left .5s;
    transition: left .5s; }

  #sliding-container {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    background: #FAFAFA;
    -webkit-transition: left .5s;
    -moz-transition: left .5s;
    -o-transition: left .5s;
    transition: left .5s; }

  .menu-open header {
    left: -250px; }
  .menu-open #sliding-container {
    left: -250px; }
  .menu-open .navbar-toggle, .menu-open footer {
    opacity: 1; }

  .navbar-toggle {
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
    opacity: 0;
    position: fixed;
    right: 0;
    background: #6C6C70;
    color: #fff;
    font-size: 1.5em;
    height: 200%;
    width: 250px;
    z-index: 0;
    padding: 0;
    line-height: 55px; }
    .navbar-toggle ul {
      padding-top: 30px;
      width: 0;
      height: 100%;
      font-size: 1.9em; }
      .navbar-toggle ul li ul {
        background: none;
        border: none;
        position: relative;
        font-size: .5em;
        line-height: 30px;
        top: 0;
        padding: 0;
        width: 250px; }
        .navbar-toggle ul li ul li a {
          padding-left: 30px;
          left: -5px; }

  a {
    color: #fff; }

  #content-container {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: visible;
    padding-top: 100px;
    background: #FAFAFA; }

  #content-pane {
    width: 100%;
    height: 100%;
    overflow: visible; }
    #content-pane #content {
      position: relative;
      height: 100%;
      padding: 0 10%; }
      #content-pane #content img {
        width: 100%;
        padding: 0 0 2px 0;
        height: auto;
        background: #fff; }

  .video #content-container {
    height: 100%; }

  footer {
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
    opacity: 0;
    position: fixed;
    right: 12.5px;
    top: 380px;
    width: 225px;
    color: #fff;
    background: none;
    border-top: 2px solid #fff;
    text-align: center;
    padding: 0;
    line-height: 30px; }
    footer h2 {
      position: relative;
      bottom: 30px;
      float: none;
      color: #fff;
      font-size: 1.1em; }
    footer ul {
      position: relative;
      bottom: 30px; }
    footer a {
      font-size: .9em; }
    footer h3 {
      position: relative;
      float: none;
      top: 120px; } }
@media (max-width: 799px) and (max-height: 450px) {
  .navbar-toggle {
    line-height: 35px; }
    .navbar-toggle ul {
      position: absolute;
      font-size: 1.2em; }
      .navbar-toggle ul li ul li {
        font-size: 1.5em;
        line-height: 15px; }

  footer {
    display: none; } }
