<footer>
	<h3>Site by <a href='http://www.kylemeier.com' target='_blank'>Kyle Meier</a></h3>
	<h2>for booking: <a href='mailto:meredith.adelaide@gmail.com'>meredith.adelaide@gmail.com</a></h2>
	<ul>
		<li><a href='http://instagram.com/meredithadelaide' target='_blank' id='icon-instagram'></a></li>
		<li><a href='https://www.facebook.com/meredithadelaide' target='_blank' id='icon-facebook'></a></li>
		<li><a href='https://twitter.com/immodeling' target='_blank' id='icon-twitter'></a></li>
	</ul>
</footer>