<nav class='navbar-toggle'>
	<ul>
		<li class='nav-item'>
			<p>modeling</p>
			<ul>
				<li><a href='../black-and-white'>black and white</a></li>
				<li><a href='../color'>color</a></li>
				<li><a href='../film'>film</a></li>
				<li><a href='../print'>print</a></li>
			</ul>
		</li>
		<li class='nav-item'>
			<p>self</p>
			<ul>
				<li><a href="../../self/tied-up-and-touseled">tied up and touseled</a></li>
				<li><a href="../../self/solestruck-bwkick">solestruck - b/w kick</a></li>
				<li><a href="../../self/solestruck-yes">solestruck - ¥E§</a></li>
				<li><a href="../../self/bridge-and-burn">bridge and burn</a></li>
				<li><a href="../../self/demimonde">demimonde</a></li>
				<li><a href="../../self/personal">personal</a></li>
			</ul>
		</li>
		<li>
			<a href='../../video'>video</a>
		</li>
		<li>
			<ul id='contact'>
				<li><a href='http://instagram.com/meredithadelaide' target='_blank' id='icon-instagram'></a></li>
				<li><a href='https://www.facebook.com/meredithadelaide' target='_blank' id='icon-facebook'></a></li>
				<li><a href='https://twitter.com/immodeling' target='_blank' id='icon-twitter'></a></li>
				<li><a href='mailto:meredith.adelaide@gmail.com' id='icon-email'></a></li>
			</ul>
		</li>
	</ul>
	<div id='close-menu'></div>
</nav>
