<nav class='navbar-toggle'>
	<ul>
		<li class='nav-item'>
			<p>modeling</p>
			<ul>
				<li><a href='../black-and-white'>black and white</a></li>
				<li><a href='../color'>color</a></li>
				<li><a href='#'>film</a></li>
				<li><a href='#'>print</a></li>
			</ul>
		</li>
		<li class='nav-item'>
			<p>self</p>
			<ul>
				<li><a href="../../self/tied-up-and-tousled">tied up and tousled</a></li>
				<li><a href="../../self/solestruck-bwkick">solestruck - b/w kick</a></li>
				<li><a href="../../self/solestruck-yes">solestruck - ¥E§</a></li>
				<li><a href="../../self/bridge-and-burn">bridge and burn</a></li>
				<li><a href="../../self/demimonde">demimonde</a></li>
				<li><a href="../../self/personal">personal</a></li>
			</ul>
		</li>
		<li>
			<a href='../../video'>video</a>
		</li>
	</ul>
</nav>
