//social icons break at a certain width
@font-face {
	font-family: 'helvetica-neue';
	src: url('../fonts/HelveticaNeue-UltraLight.eot');
	src: url('../fonts/HelveticaNeue-UltraLight.eot?#iefix') format('embedded-opentype'),
	url('../fonts/HelveticaNeue-UltraLight.woff') format('woff'),
	url('../fonts/HelveticaNeue-UltraLight.ttf') format('truetype'),
	url('../fonts/HelveticaNeue-UltraLight.svg#helvetica-neue') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'icons';
	src:url('../icons/icons.eot');
	src:url('../icons/icons.eot?#iefix') format('embedded-opentype'),
	url('../icons/icons.woff') format('woff'),
	url('../icons/icons.ttf') format('truetype'),
	url('../icons/icons.svg?#icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[id^="icon-"],[class^="icon-"]{
	font-family: 'icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#icon-nav:after{
	display:none;
}

#icon-scroll-left, #icon-scroll-right{
	position:absolute;
	top:50%;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	font-size:3em;
	border-radius:100%;

}

#icon-scroll-left{
	left:-75px;
}

#icon-scroll-right{
	right:-75px;
}

#icon-scroll-left:after{
	content:'\e601';

}

#icon-scroll-right:after{
	content:'\e601';
	display:inline-block;
	-webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.icon-dropdown:after{
	content:'\e601';
	-webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    display:inline-block;
    position:relative;
    top:3px;
}

#icon-instagram:after{
	content:'\e600';
}

#icon-facebook:after{
	content:'\e608';
}

#icon-twitter:after{
	content:'\e607';
}

.icon-play-button:after{
	content:'\e604';
	font-size:4em;
	color:#EDEDED;
	border: 1px solid #EDEDED;
	border-radius: 100%;
}

.icon-play-button {
	position:absolute;
	top:50%;
	margin-top:-25px;
	left:50%;
	margin-left:-25px;
}

.invisible{
	opacity:0;
}

.visible{
	opacity:1;
}

body, a{
	font-family: 'helvetica-neue';
	color:#2e2d2c;
}

body{
	background:#FAFAFA;
}


span:hover, a:hover{
	color:#D6D6D6;
}
span:hover{
	cursor:pointer;
}

li{
	list-style-type:none;
}

.page-container{
	position:absolute;
	width:100%;
	height:100%;
	left:0;
	transition: opacity 1s ease-out;
}

header{
	position:relative;
	width:90%;
	border-bottom:1px solid rgba(124,140,141,.3); 
	font-size:1.5em;
	line-height:50px;
	background:#fff;
	border-bottom:1px solid #e1e2e3;
	padding-left:10%;
	z-index:1;
}

.navbar-toggle{
	position:relative;
	float:right;
	right:0;
	line-height:50px;
	z-index:2;
	font-size:1.1em;
	padding-right:10%;
	li{
		float:left;
		position:relative;
		&:hover{
			p{
				color:#D6D6D6;
			}
		}
		a{
			padding-left:20px;
			display:inline-block;
		}
		p{
			padding:0 20px;
			cursor: pointer;	
		}
		ul{
			display:none;
			border-radius:0 0 5px 5px;
			// background: rgba(230,230,230, .7);
			background: #fff;
			border: 1px solid #e1e2e3;
			border-top:1px solid #fff;
			position:absolute;
			width:200px;
			left:-5px;
			top:50px;
			li{
				float:none;
				padding-left:10px;
				padding-right:0;
				// background: rgba(46,45,44,.8);
				color:#D6D6D6;
				&:hover{
					// background:#2e2d2c;
					// background: rgba(46,45,44,.9);
					// background: #fff;
					// background: rgba(255,255,255,.8);

					// color:#fff;
				}
				&:last-child{
					border-radius:0 0 5px 5px;
				}
				a{
					position:relative;
					width:100%;
					display:inline-block;
					padding:0 5px;
					font-size:.8em;
					// padding:0 100px;
					// padding-right:100px;
				}
			}
		}

	}
}

.active{
	color:#C7C7C7;
}

#content-container{
	position:absolute;
	width:80%;
	margin:0 10%;
	height:80%;
	top:50%;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
}

#content-pane{
	position:absolute;
	height:100%;
	width:100%;
	overflow-x:scroll;
	overflow-y:hidden;
}

#content{
	position:absolute;
	height:100%;
	width:100%;
	width:auto;
	left:0;
}

img{
	position:absolute;
	z-index:0;
	height:100%;
	width:100%;
	transition:opacity 1s ease-in-out;
}	

.placeholder{
	background:#EDEDED;
	float:left;
	margin-right:2px;
	position:relative;
	a{
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		opacity:.7;
		transition:opacity .5s;
		&:hover{
			opacity:1;
		}
	}
}

#sliding-container{
	position:relative;
	height:100%;
	width:100%;
}

footer{	
	width:80%;
	background: #fff;
	position:absolute;
	bottom:0;
	padding:0 10%;
	color:#2e2d2c;
	border-top:1px solid #e1e2e3;
	line-height:50px;
	h2{
		float:right;
		font-size:1em;
	}
	ul{
		font-size:1.5em;	
		width:146px;
		margin:0 auto;
	}
	li{
		display:inline-block;
		padding:0 10px;
	}
	h3{
		font-size:.8em;
		float:left;
	}
}

//*****video page
.video #content-container{
	height:60%;
}

iframe{
	position:relative;
}

@media(max-width: 960px) and (min-width:800px){
	footer{
		li{
			padding:0;
		}
	}
}

@media(max-width: 799px){

	#icon-scroll-left, #icon-scroll-right{
		display:none;
	}


	#icon-nav:after{
		float:right;
		content:"\e603";
		font-size:1.5em;
		display:block;
		position:absolute;
		right:10%;
		margin-right:-15px;
		top:50%;
		-webkit-transform: translate(0, -50%);
		transform: translate(0, -50%);
		padding-right:10%;
		margin-right:-12%;
	}

	#icon-nav:hover{
		color:#fff;
	}

	.page-container{
		padding-bottom:50px;
		overflow:hidden;
	}

	.placeholder{
		float:none;
		margin-bottom:2px;
	}

	header{
		margin:0;
		line-height:25px;
		padding:10px 0;
		width:100%;
		position:fixed;
		left:0px;
		background: rgba(0, 0, 0, .7);
		color: #fff;
		border:none;
		z-index:200;
		font-size:1.3em;
		text-align:center;
		-webkit-transition: left .5s;
		-moz-transition: left .5s;
		-o-transition: left .5s;
		transition: left .5s;
	}

	#sliding-container{
		z-index:1;
		position:absolute;
		width:100%;		
		height:100%;
		left:0;
		background:#FAFAFA;
		-webkit-transition: left .5s;
		-moz-transition: left .5s;
		-o-transition: left .5s;
		transition: left .5s;
	}

	//using left instead of translate3d as translate3d breaks fixed positioned elements (the header in this case)
	.menu-open{
		header{
			left:-250px;

		}
		#sliding-container{
			left:-250px;
		}
		.navbar-toggle, footer{
			opacity:1;
		}
	}

	.navbar-toggle{
		-webkit-transition: opacity .5s;
		-moz-transition: opacity .5s;
		-o-transition: opacity .5s;
		transition: opacity .5s;
		opacity:0;
		position:fixed;
		
		right:0;
		background:#6C6C70;;
		color:#fff;
		font-size:1.5em;

		//prevents landscape ios safari from visibly changing the nav height when user scrolls
		height:200%;

		width:250px;
		z-index:0;
		padding:0;
		line-height:55px;
		ul{
			padding: 40px 0 0 10%;
			width:0;
			height:100%;
			font-size:1.9em;
			li{
				
			}
		}

	}
	a{
		color:#fff;
	}

#content-container{
	width:100%;
	height:100%;
	margin:0;
	overflow:visible;
	padding-top:100px;
	background:#FAFAFA;
}

#content-pane{
	width:100%;
	height:100%;
			// padding-left:10%;
			// margin:5%;
			overflow:visible;
		// padding-top:50px;
		// background:#000;
			// position:relative;
			// height:100%;
			// width:80%;
			// padding: 0 10%;
			#content{
				position:relative;
				height:100%;
				padding:0 10%;
				// width:80%;
				// padding: 0 10%;
				img{
					width:100%;
					padding: 0 0 2px 0;
					height:auto;
					background:#fff;
				}	
			}

		}

		.video #content-container{
			height:100%;
		}

		footer{
			-webkit-transition: opacity .5s;
			-moz-transition: opacity .5s;
			-o-transition: opacity .5s;
			transition: opacity .5s;
			opacity:0;
			position:fixed;
			top:350px;
			width:225px;
			right:12.5px;
			color:#fff;
			background: none;
			border-top:2px solid #fff;
			text-align:center;
			padding:0;
			line-height:30px;

			h2{
				position:relative;
				bottom:30px;
				float:none;
				color:#fff;
				font-size:1.1em;
			}
			ul{
				position:relative;
				bottom:30px;
			}

			a{
				font-size:.9em;
			}
		
		h3{
			position:relative;
			float:none;
			top:120px;
		}
	}
}

@media(max-width: 799px) and (max-height:450px){
	.navbar-toggle{
		line-height:35px;
		ul{
			position:absolute;
			top:-25px;
			font-size:1.2em;
		}
	}
	footer{
		top:195px;
	}

}
